
div.container{
    width:100%;
    border:auto;
}
header{
    padding:17px;
    color:green;
    background-color:lightseagreen;
    
    text-align:center;
}
footer{
    background-color:rgb(108, 165, 108);
    text-align:center;
    padding:10px;
}
.center{
    padding:30px;
    margin:2px;
    font-size:17px;
    text-align:center;
    background-color:rgb(122, 158, 224);
    
}
.navbar{
    overflow:hidden;
    background-color: rgba(172, 158, 158, 0.342);
    position: relative;
    font-size:20px;
    top:10; 
    left:20%;
    height:30px;
    width:18%;}

.box1{
    position: relative;
    background-color: rgb(223, 193, 61);
    width: 93px;
    border: 2px;
    padding: 2px;
    left:20%;
}
.box2{
    position: relative;;
    background-color: rgb(223, 193, 61);
    width: 87px;
    border: 2px;
    padding: 2px;
    left:70%;
}
